.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: column;
}

.navCenter{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}
.navRight{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: blueviolet;
    /*justify-content: space-around;*/
}

.pageContainer{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.formInputBox{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}
.formAddressTextArea{
    width: 400px;
    height: 100px;
    margin-bottom: 10px;
}

.formCreateButton{
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
}
.formCancelButton{
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
}